#Skills-Heading {
    position: relative;
    color: rgb(30, 128, 0);
    left: -2.5%;
    top: 63px;
    margin-bottom: 30px;
}
@media only screen and (max-width: 600px) {
    #Skills-Heading {
        left: 0;
        position: relative;
        top: 50px;
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #Skills-Heading {
        left: 0;
        position: relative;
        top: 50px;
    }
  }
#skills-box {
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.skill-category {
    width: 100%;
    max-width: 300px;
    border: 5px solid rgb(0, 51, 128);
    margin: 0 auto 20px;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    top: 100px;
    color: rgb(30, 128, 0);
    margin-top: 0;
}
.FE, .BE, .Misc {
    color: rgb(30, 128, 0);
    margin-top: 0;
    position: relative;
    top: -80px;
}
@media only screen and (max-width: 600px) {
    .FE {
        position: relative;
        top: -17%;
    }
    .skill-category {
        margin-bottom: 15%;
    }
    .BE {
        position: relative;
        top: -35%;
    }
    .Misc {
        position: relative;
        top: -20%;
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .FE {
        position: relative;
        top: -17%;
    }
    .skill-category {
        margin-bottom: 15%;
    }
    .BE {
        position: relative;
        top: -17%;
    }
    .Misc {
        position: relative;
        top: -17%;
    }
  }
.skill-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
    width: 48%;
    box-sizing: border-box;
}

.skill-item p {
    margin-top: 5px;
    color: white;
    font-size: 25px;
}

.skill-icon {
    color: rgb(30, 128, 0);
    margin-bottom: 5px;
}
@media only screen and (min-width: 600px) {
    .skill-item {
        width: 48%;
        margin-right: 4%;
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .skill-item {
        width: 48%;
        margin-right: 4%;
    }
  }
#Frontend-1,#Backend-1,#Misc-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 125px;
}

#Frontend-2,#Misc-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 125px;
}

#Frontend-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 125px;
}

#HTML,#PYTHON,#AWS{
    position: absolute;
    top: 10px;
    left: 5px;
}
#CSS,#NODE,#SQL{
    position: absolute;
    top: 10px;
    left: 135px;
}
#BOOTSTRAP,#GIT{
    position: absolute;
    top: 160px;
    left: 5px;
}
#JAVASCRIPT,#GITHUB{
    position: absolute;
    top: 160px;
    left: 135px;
}
#JQUERY{
    position: absolute;
    top: 300px;
    left: 5px;
}
#REACT{
    position: absolute;
    top: 300px;
    left: 135px;
}
@media only screen and (max-width: 600px) {
    #HTML,
    #CSS,
    #BOOTSTRAP,
    #JAVASCRIPT,
    #JQUERY,
    #REACT,#PYTHON,#NODE,#AWS,#SQL,#GIT,#GITHUB{
        position: static; 
        top: auto;
        left: auto;
        width: 100%; 
        margin-bottom: 15px; 
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #HTML,
    #CSS,
    #BOOTSTRAP,
    #JAVASCRIPT,
    #JQUERY,
    #REACT,#PYTHON,#NODE,#AWS,#SQL,#GIT,#GITHUB{
        position: static; 
        top: auto;
        left: auto;
        width: 100%; 
        margin-bottom: 15px; 
    }
  }
@media only screen and (max-width: 600px) {
    #BOOTSTRAP,
    #JAVASCRIPT,
    #JQUERY,
    #REACT,#PYTHON,#NODE,#AWS,#SQL,#GIT,#GITHUB{
        position: static; 
        top: auto;
        left: auto;
        width: 100%; 
        margin-bottom: 15px; 
    }
}

.skill-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.skill-item i{
    margin-bottom: 5px;
}

.skill-item p {
    margin-top: 5px;
    color: white;
    font-size: 25px;
}